POLYOCR_AUTH_ENABLED=true
POLYOCR_API_KEY=change-me
POLYOCR_CORS_ORIGINS=["http://localhost:3000"]
POLYOCR_CORS_ALLOW_CREDENTIALS=false
POLYOCR_MAX_UPLOAD_MB=10
POLYOCR_DEFAULT_LANGUAGE=zh
POLYOCR_LOG_LEVEL=INFO
POLYOCR_TRANSLATION_API_KEY=
POLYOCR_TRANSLATION_BASE_URL=http://localhost:8001/v1
POLYOCR_TRANSLATION_MODEL=change-me
